$white: rgba(255, 255, 255, 0.3);
@mixin drop-design {
    background: $white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}